.book-head{
    .book-head-container{
    
     .book-header{
         padding: 15px 0;
        .form-box{
            border: 1px solid #ddd;
            background: white;
            padding: 10px;
        }
     }
     textarea{
         height: 50vh;
     }
     .book-content{

     }   
    }
}